*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  background: #1C2C4C;
}
.nav_brand {
  margin-left: 3rem;
  margin-top: 0.7rem;
  max-width: 23rem;
}

.brand_img{
  display: flex;
  max-width: 18rem;
  margin-top: auto;
  z-index: 4;
}

.nav__menu {  
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  margin-right: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
    margin-right: 2rem;
    z-index:3;
  }
  .nav__menu {
    position: fixed;
    margin-right: 0;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: #1C2C4C;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    z-index: 3;
  }

  .nav_brand {
    margin: auto;
    max-width: 20rem;
  }  

  .brand_img{
    display: none;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}